<!doctype html>
<html lang="{{ app()->getLocale() }}" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="/stylesheets/reset.css" rel="stylesheet">
    <link href="/stylesheets/general.css" rel="stylesheet">
    <link href="/stylesheets/specific.css" rel="stylesheet">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://unpkg.com/vue"></script>

    <title>Cantaloupe</title>

</head>
<body>

<div class="wrapper">
    <div id="row1">
        <h1 id="dash">Dashboard</h1>
        <img id=loginpic src="" alt="img src error" height="50">
        <div id="username"></div>

        <form name="logoutform" action="logout" method="post">
            <input type="submit" id="logoutbtn" value="Log out"/>
        </form>
    </div>

    <div id=maincol>
        <div id=list>
            <div id="items">
                <table class="item-list">
                    <tr>
                        <th class="item-attribute left"> product</th>
                        <th class="item-attribute"> description</th>
                        <th class="item-attribute"> image</th>
                        <th class="item-attribute"> quantity</th>
                        <th class="item-attribute right"> sku</th>
                    </tr>

                    <tr v-for="item in items" class="item-container">

                        <th class="item-cell">
                            {{ item.name }}
                            <button class="insertbtn" @click="editproduct(item)">insert</button>
                        </th>
                        <th class="item-cell hoverable" @click="showdesc(item);">
                            {{ item.description }}
                            <button class="insertbtn" @click="editdescription(item)">insert</button>
                        </th>
                        <th class="item-cell hoverable" @click="showimg(item);">
                            <img :src="item.image" class="responsive-img"/>
                            <input type="submit" class="insertbtn" name="submitForm" value="edit" @click="editimage(item)" form="uploadImage"/>
                        </th>
                        <th class="item-cell">
                            {{ item.quantity }}
                            <button class="insertbtn" @click="editquantity(item)">insert</button>
                        </th>
                        <th class="item-cell">
                            {{ item.sku }}
                            <button class="insertbtn" @click="editsku(item)">insert</button>
                        </th>
                        <th class="item-cell">
                            <button class="list-button" @click="deleteitem(item)">Delete</button>
                        </th>

                    </tr>
                    <tr>

                        <th class="item-cell input">
                            <input class="in" type="text" name="product" maxlength="200" v-model="product">
                        </th>
                        <th class="item-cell input">
                            <input class="in" type="text" name="description" maxlength="200" v-model="description">
                        </th>
                        <th class="item-cell input">
                            <form id="uploadImage" enctype="multipart/form-data" method="POST">
                                <input id="myFile" name="profileImage" type="file"/>
                            </form>
                        </th>
                        <th class="item-cell input">
                            <input class="in" type="text" name="quantity" maxlength="200" v-model="quantity">
                        </th>
                        <th class="item-cell input">
                            <input class="in" type="text" name="sku" maxlength="200" v-model="sku">
                        </th>
                        <th class="item-cell input">
                            <button class="" @click="submititem">Submit</button>
                        </th>

                    </tr>

                </table>
                <div id="expand">
                    <h2 id="info" v-html="displayInfo">{{displayInfo}}</h2>
                    <br>
                    <span id="expandDesc" v-html="displayData"> {{displayData}} data </span>
                    <img id="expandImg" :src="displayImg" />
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/javascript/dashboard.js"></script>
</body>
</html>
