<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='../public/stylesheets/style.css' />
  </head>
  <body>
    <h1></h1>
    <p>Welcome to cantaloupe</p>
    <p>Test</p>
  </body>
</html>
