
<!doctype html>
<html lang="{{ app()->getLocale() }}">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link href="/stylesheets/reset.css" rel="stylesheet">
        <link href="/stylesheets/general.css" rel="stylesheet">
        <link href="/stylesheets/specific.css" rel="stylesheet">

        <title>Cantaloupe</title>

    </head>

    <body>

      <div class="wrapper">

        <!-- Include subview loginbar -->
        <!--php include 'subviews/loginbar.html';-->

        <div id=maincol>

          <img id="portrait" src = "/images/me.png" alt="img src error" height="300">

          <H1 class="front-text title">
            Cantaloupe Inventory System
          </H1>
          <span class="front-text">
            Vad du vill för att- .. oh shit
          </span>

        </div>

      </div>

    </body>

</html>
