<!DOCTYPE html>
<html>
<head>
    <title>Logged in</title>
</head>
<body>
<h1>Result of log in</h1>
<p>You successfully logged in!</p>
<p>Username: <%= username %></p>
<p>Password: <%= password %></p>
</body>
</html>